.card {
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 6px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  margin: 0;
}
.card__title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}
.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 100%;
    padding-top: 12px;
    margin: 0;
    border-radius: 6px;
    box-sizing: border-box;
  }
  .card__content {
  }
  .card__title {
    font-size: 16px;
    line-height: 1.4;
    max-width: 210px;
  }
}
